@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&&family=Roboto+Mono&display=swap');

/* Insert Your COLOR here papa */
:root {
    --prim: #FFEA20;
    --sec: #20262E;
    --tri: #0c0f12;
    --text: white;
    --prim2: lightseagreen;
    /* --prim:navy;
    --sec:whitesmoke;
    --tri:wheat;
    --text:black; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Don't Touch these -------------------------------------*/
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--prim) #283139;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #283139;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--prim);
    border-radius: 2px;
    border: 0px solid #ffffff;
}

/* -------------------------------------------- */
main {
    background-color: var(--sec);
    width: 75vw;
    margin-left: auto;
}

.spec {
    color: var(--prim);
}

main>* {
    min-width: 60vw;
    min-height: 100vh;
    margin: auto;
    display: flex;
    /* text-align: center; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

app-home>* {
    padding: 15px 0px;
}

@media only screen and (max-width: 600px) {
    main {
        width: 100vw;
    }



}

#About {
    text-align: center;
}

#About>h4 {
    font-family: 'Roboto Mono';
    font-size: 15px;
    background-color: var(--tri);
    border-radius: 10px;
    padding: 10px;
    /* height: 80px; */
    border-bottom: 3px solid var(--prim);
    border-right: 3px solid var(--prim);
}

#Education {
    text-align: left;
    align-items: flex-start;
}

#Contacts {
    align-items: center;
    
}

#Home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn-batch {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#Projects {
    min-width: 60vw;
    min-height: 100vh;
    margin: auto;
    align-items: flex-start;
}

@media only screen and (max-width: 600px) {
    main {
        width: 100vw;
    }
}

.links {
    padding: 10px;
}

.profile {
    height: 120px;
    width: 120px;
}

.person {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
/* ---------------------------------------------- */
body {
    max-width: 100vw;
    font-family: Hanken Grotesk;
    color: var(--text);
    background-color: var(--sec);
}


header {
    position: fixed;
    height: 100vh;
    width: 25vw;
    margin-left: 0;
    background-color: var(--tri);
    color: var(--prim);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom:5vh;
    /* border-right: solid 1px white; */
}

.perpic {
    /* background-color: black; */
    /* border-radius: 100%; */
    /* aspect-ratio: 1; */
    /* outline: 3px solid var(--prim); */
    font-weight: 600;
}

.person {
    height: 45vh;
    display: flex;
    /* font-family: 'Roboto Mono'; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.person>* {
    padding: 5px 0px;
}

.person>h2 {
    font-size: 30px;
}

nav {
    height: 40vh;
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
}

li {
    list-style-type: none;
}

.links:hover,
.links:focus {
    background-color: none;
    transition: 0.7ms;
    outline: solid 2px var(--prim);
    /* background-color: var(--prim); */
    color: var(--prim);
}

.links {
    /* background-color: teal; */
    outline: none;
    /* background-color: white; */
    color: var(--text);
    text-decoration: none;
    padding: 10px;
    width: 200px;
    border-radius: 25px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

main {
    background-color: var(--sec);
}

.spec {
    color: var(--prim);
}

.cent {
    width: 60vw;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

section>* {
    padding: 15px 0px;
}

h1 {
    font-size: 45px;
}

.Big {
    font-size: 50px;
}

.contBig {
    display: flex;
}

.cont {
    width: 18vw;
    margin: 10px;
}

.profile {
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    /* outline: 4px solid var(--prim2); */
    /* box-shadow: 0px 20px 40px -10px cyan; */

}

.hype {
    text-decoration: none;
}

.hype:hover,
.hype:focus {
    transition: 0.8s;
    text-decoration: underline;
    color: lightseagreen;
}

.iconn {
    filter: blur(5px);
    border-radius: 100%;
    font-size: 45px;
    font-weight: 900;
    background-color: none;
    color: var(--prim);
    padding: 15px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconn:hover,
.iconn:focus,
.iconn:out-of-range {
    transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    filter: none;
    box-shadow: none;
}

.contact>img {
    width: 40px;
    height: 40px;
    padding: 10px;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--prim);

}

.contact {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.exp {
    background-color: var(--tri);
}

.cent {
    min-width: 60vw;
    min-height: 100vh;
    margin: auto;
    display: flex;
}

@media only screen and (max-width: 600px) {
    header {
        width: 100vw;
        /* height: 40vh; */
        position: relative;
        background-color: var(--tri);
        color: var(--prim);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* border-right: solid 1px white; */
    }


    main {
        max-width: 100vw;
    }

    .contBig {
        flex-direction: column;
    }

    .cont {
        width: 70vw;
    }


}

#upd {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    color: var(--tri);
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    background-color: var(--prim);
}

#upd:hover {
    box-shadow: 0px 0px 15px -5px var(--prim);
}
